body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: rgb(195, 254, 196);
  
}
.my-bg-color-1{
    background-color: white;
}
.my-color-1{
    color: rgb(23, 211, 23);
}
.my-color-2{
    color: white;
}
.my-bg-color-2{
    background-color: rgb(23, 211, 23);
}
.my-section-bg{
    background-color: rgb(243,255,243);
}
.my-card-bg{
    background-color: rgb(228, 247, 228);
}